@*@{
    ViewBag.Title = "Home Page";
}*@

<!DOCTYPE html>
@{
    ViewBag.Title = "DELSU CSC BLOG";
}

<h2 class="col-md-offset-2 col-md-10"> @ViewBag.Title.</h2>
<h4> Click any of the categories below to display result of 2018 CSC DELSU graduates </h4>
<html>
<head>
    <meta charset="utf-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <title>DELSU BLOG    </title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><button type="button" id="bnFirstClass" class="btn btn-success">First Class</button></h3>
                    </div>



                    <div class="panel-body">
                    
                    
                   First Class Graduates
                    
                    
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><button2 type="button" id="bnFirstClass" class="btn btn-success">Second Class</h3>
                    </div>

                    <div class="panel-body">
                        
                        
                       Second Class Graduates
                    
                    
                    </div>


                </div>

            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><button3 type="button" id="bnFirstClass" class="btn btn-success">Third Class</h3>
                    </div>
                    <div class="panel-body">


                        Third Class Graduates
                    
                    
                    </div>



                </div>
            </div>

        </div>
    </div>

</body>
</html>